.control-ticket {
  position: relative;
  width: calc(100% - 300px);
  left: 300px;
}
.control-ticket-content {
  padding: 24px;
  margin-top: 20px;
  border-radius: 24px;
  min-height: 100vh;

  background: white;
}
.control-ticket-content h1 {
  font-size: 36px;
  font-weight: bold;
}
.top-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-control-right {
  display: flex;
  gap: 10px;
}
.btn-filter span {
  display: flex;
  align-items: center;
}
.btn-filter span svg {
  margin-right: 8px;
}
.btn-control i {
  margin: 0 10px 0 0;
}
.btn-control span {
  order: 2;
}
.btn-control,
.btn-filter {
  margin-left: 10px;
  border: 1px solid #ff993c;
  padding: 10px 12px;
  border-radius: 8px;

  background: #ffffff;
  color: #ff993c;
  font-weight: bold;
  font-size: 18px;
}
.btn-edit{
  font-size: 24px;
}
.ant-table-tbody tr:hover{
  background: black;
}
tr:hover>.btn-edit{
  display: none;
}
.btn-edit{
  opacity: 0;
  cursor: pointer;
}
td:hover .btn-edit{
  opacity: 1;
}
.top-control {
  margin-bottom: 30px;
}
.top-control-left form {
  border-radius: 12px;
  padding-right: 10px;

  background: rgba(237, 230, 230, 1);
}
.top-control-left input[type="text"] {
  width: 425px;
  height: 48px;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 0 10px;
  border-radius: 12px;

  background: rgba(237, 230, 230, 1);
  font-size: 14px;
  color: #333;
}
.top-control-left input[type="text"]::placeholder {
  color: #999;
  font-size: 16px;
  font-style: italic;
  font-weight: normal;
}
